<aside class="app-sidebar">
  <div class="sidebar-brand">
    <picture class="brand-logo">
      <span>image here</span>
    </picture>
    <div class="brand-text">
      <span>Dashboard</span>
    </div>
  </div>

  <div class="sidebar-menu-list">
    <ng-container *ngFor="let menu of menus">
      <ng-container *ngIf="menu?.type == 'basic'">
        <app-basic-menu [item]="menu"></app-basic-menu>
      </ng-container>
      <ng-container *ngIf="menu?.type == 'collapsable' ">
        <app-collapsable [item]="menu"></app-collapsable>
      </ng-container>
    </ng-container>
  </div>
</aside>
