<aside class="app-sidebar">
  <div class="sidebar-brand">
    <picture class="brand-logo">
      <span>image here</span>
    </picture>
    <div class="brand-text">
      <span>Dashboard</span>
    </div>
  </div>

  <div class="sidebar-menu-list">
    @for (menu of menus; track menu) {
      @if (menu?.type == 'basic') {
        <app-basic-menu [item]="menu"></app-basic-menu>
      }
      @if (menu?.type == 'collapsable' ) {
        <app-collapsable [item]="menu"></app-collapsable>
      }
    }
  </div>
</aside>
